// Bazar Font
@font-face {
  font-family: 'Bazar';
  src: url('./assets/fonts/Bazar/Bazar.woff')format('woff'), url('./assets/fonts/Bazar/Bazar.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// Oswald Font
@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Regular.woff')format('woff'), url('./assets/fonts/Oswald/Oswald-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald/Oswald-Bold.woff')format('woff'), url('./assets/fonts/Oswald/Oswald-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

// Robotoslab Font
@font-face {
  font-family: 'Robotoslab';
  src: url('./assets/fonts/Robotoslab/RobotoSlab-Regular.woff')format('woff'), url('./assets/fonts/Robotoslab/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Robotoslab';
  src: url('./assets/fonts/Robotoslab/RobotoSlab-Bold.woff')format('woff'), url('./assets/fonts/Robotoslab/RobotoSlab-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

// Seaside-Resort-NF Font
@font-face {
  font-family: 'Seaside-Resort-NF';
  src: url('./assets/fonts/Seaside-Resort-NF/SeasideResortNF-regular.woff')format('woff'), url('./assets/fonts/Seaside-Resort-NF/SeasideResortNF-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}