.filter
  #app
    nav.filter__menu
      ul.filter__menu-list
        div Filter by:
        //-   button.filter__menu-btn(type="button", data-tag="pinup") • PinUp
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="cars") • Cars
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="retro") • Retro
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="music") • Music
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="house") • House
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="city") • City
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="show") • Tv-Show
        //- li.filter__menu-item
        //-   button.filter__menu-btn(type="button", data-tag="animals") • Aniamls
    .filter__box
    button.filter__btn-add(type="button") browse all