.filter
  nav.filter__menu
    ul.filter__menu-list
      li.filter__menu-item Filter by
      li.filter__menu-item
        button.filter__menu-btn(type="button") • design
      li.filter__menu-item
        button.filter__menu-btn(type="button") • logo
      li.filter__menu-item
        button.filter__menu-btn(type="button") • photography
      li.filter__menu-item
        button.filter__menu-btn(type="button") • poster
      li.filter__menu-item
        button.filter__menu-btn(type="button") • resources
      li.filter__menu-item
        button.filter__menu-btn(type="button") • retro
      li.filter__menu-item
        button.filter__menu-btn(type="button") • t-shirts
      li.filter__menu-item
        button.filter__menu-btn(type="button") • videos
  .filter__box
    ul.filter__list
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_photo', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_tv', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_sound', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_note', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_tv', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_clip', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_photo', 'filter__logo-img')
          .filter__title
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="")
              img(src="", alt="")
          .filter__logo
            +icon('portfolio_sound', 'filter__logo-img')
          .filter__title
  button.filter__btn-add(type="button") browse all