.filter
  nav.filter__menu
    ul.filter__menu-list
      li.filter__menu-item Filter by:
      li.filter__menu-item
        button.filter__menu-btn(type="button") • design
      li.filter__menu-item
        button.filter__menu-btn(type="button") • logo
      li.filter__menu-item
        button.filter__menu-btn(type="button") • photography
      li.filter__menu-item
        button.filter__menu-btn(type="button") • poster
      li.filter__menu-item
        button.filter__menu-btn(type="button") • resources
      li.filter__menu-item
        button.filter__menu-btn(type="button") • retro
      li.filter__menu-item
        button.filter__menu-btn(type="button") • t-shirts
      li.filter__menu-item
        button.filter__menu-btn(type="button") • videos
  .filter__box
    ul.filter__list
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_photo', 'filter__logo-img')
          .filter__title galleries are funny
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_tv', 'filter__logo-img')
          .filter__title a vimeo reel
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_sound', 'filter__logo-img')
          .filter__title love for old cameras
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_note', 'filter__logo-img')
          .filter__title detailed project page
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_tv', 'filter__logo-img')
          .filter__title youtube video
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_clip', 'filter__logo-img')
          .filter__title another external links
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_photo', 'filter__logo-img')
          .filter__title a lightbox image
      li.filter__item
        article.filter__article
          .filter__window
            a.filter__link(href="#0")
              img.filter__img(src="https://lookhollywoodblog.files.wordpress.com/2014/03/709c000e71447e02f0f501957a0ddd971.jpeg", alt="loremPixel")
          .filter__logo
            +icon('portfolio_sound', 'filter__logo-img')
          .filter__title the dark tempest
  button.filter__btn-add(type="button") browse all