.slider
  .slider__window.glide__track(data-glide-el="track")
    ul.glide__slides
      li.glide__slide
        +image('car1.jpg', 'slider pictures', 'slider__img')
      li.glide__slide
        +image('car2.jpg', 'slider pictures', 'slider__img')
      li.glide__slide
        +image('car3.jpg', 'slider pictures', 'slider__img')
      li.glide__slide
        +image('car4.jpg', 'slider pictures', 'slider__img')
  .slider__control(data-glide-el="controls")
    button.slider__btn(type="button",data-glide-dir='<')
      +icon('left_arrow', 'slider__btn-img')
    button.slider__btn(type="button",data-glide-dir='>')
      +icon('right_arrow', 'slider__btn-img')
  .slider__bullets(data-glide-el="controls[nav]")
    .slider__btn-bull(data-glide-dir='=0') FORD
    .slider__btn-bull(data-glide-dir='=1') LINCOLN
    .slider__btn-bull(data-glide-dir='=2') ASTON
    .slider__btn-bull(data-glide-dir='=3') Cadilac