.slider
  .slider__window
    ul.slider__list
      li.slider__item
        +image('hero_retro.png', 'slider pictures', 'slider__img')
      li.slider__item
        +image('header_logo.png', 'slider pictures', 'slider__img')
      li.slider__item
        +image('hero_retro.png', 'slider pictures', 'slider__img')
      li.slider__item
        +image('header_logo.png', 'slider pictures', 'slider__img')
  .slider__control
    button.slider__btn#slider_prev(type='button') <
    button.slider__btn#slider_next(type='button') >