.socials
  ul.socials__list
    li.socials__item
      a.socials__link(href="#0")
        +icon('social_tw', 'socials__img')
    li.socials__item
      a.socials__link(href="#0")
        +icon('social_fb', 'socials__img')
    li.socials__item
      a.socials__link(href="#0")
        +icon('social_google', 'socials__img')
    li.socials__item
      a.socials__link(href="#0")
        +icon('social_pinterest', 'socials__img')
    li.socials__item
      a.socials__link(href="#0")
        +icon('social_in', 'socials__img')