.page.about
  main.main__content
    h1.main__title about me
    .main__breadcrumbs xxx
    h2.main__subtitle i am a graphic designer from baltimore
    section.about__skills
      include ../blocks/_skills