section.main__section.contact
  h1.main__title.main_color--beige contact me
  .main__slogan.main_color--beige xxx
  h2.main__subtitle.main_color--beige i'll be glad to answer your questions!
  .main__container
    .about__form
      include ../blocks/_form
    .contact__socials
      .contact__socials-title i am social
      include ../blocks/_socials