header.header
  nav.header__menu
    ul.header__list
      li.header__item
        a.header__link(href="#0") about me
      li.header__item
        a.header__link(href="#0") portfolio
  .header__logo
    a.header__logo-link(href="#0")
      +image('header_logo.png', 'Logo', 'header__logo-img')
  nav.header__menu
    ul.header__list
      li.header__item
        a.header__link(href="#0") my blog
      li.header__item
        a.header__link(href="#0") contact me