section.main__section.hero
  h1.hero__title
  h3.hero__subtitle Old style portfolio
  .main__container
    .hero__slider
      include ../blocks/_slider
    .hero__desc "Hello, i am john doe welcome to retro, my wonderful theme!"