.page.hero
  main.main__content
    h1.hero__title
    h3.hero__subtitle Old style portfolio
    section.hero__slider
      include ../blocks/_slider
    h2.hero__welcome-title "Hello, i am john doe welcome to retro, my wonderful theme!"