.page.portfolio
  main.main__content
    h1.main__title my portfolio
    .main__breadcrumbs xxx
    h2.main__subtitle simplicity is the ultimate sophistiction
    section.portfolio__filter
      include ../blocks/_filter