section.main__section.portfolio
  h1.main__title my portfolio
  .main__slogan xxx
  h2.main__subtitle simplicity is the ultimate sophistiction
  .main__container
    .portfolio__filter
      include ../blocks/_filter