@import '../node_modules/normalize.css/normalize.css';
@import './assets/styles/layout/fonts.scss';
@import './assets/styles/config/_mixins.scss';
@import './assets/styles/layout/base.scss';
@import './assets/styles/sections/hero.scss';