.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(14px);
  padding: 0 rem(7px);
  text-align: center;
  background: url('./assets/images/hero_bg.png') center;
  text-transform: uppercase;
  outline: 1px dashed #5f9191;
  outline-offset: -5px;
  box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.523);
  @include tablets {
    font-size: rem(22px);
    outline: 2px dashed #5f9191;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  display: inline-block;
  margin-right: rem(5px);
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: rem(45px);
  }
  @include laptop {
    margin-right: rem(55px);
    opacity: .7;
    transition: opacity .3s;
    &:hover {
      opacity: 1;
    }
  }
}

.header__link {
  color: #f9ebd9;
}

.header__logo {
  width: rem(65px);
  height: rem(60px);
  margin-right: rem(5px);
  z-index: 1;
  @include tablets {
    margin-right: rem(45px);
    width: rem(105px);
    height: rem(100px);
  }
  @include laptop {
    margin-right: rem(55px);
  }
}

.header__logo-link {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}