.hero {
  background: url('./assets/images/hero_bg.png') center no-repeat;
  background-size: cover;
}

.hero__title {
  width: 70%;
  min-height: rem(52px);
  margin: 0 auto;
  background: url('./assets/images/hero_retro.png') center no-repeat;
  background-size: contain;
  margin-bottom: rem(10px);
}

.hero__subtitle {
  width: 90%;
  height: rem(35px);
  margin: 0 auto;
  background: url('./assets/images/hero_title.png') center no-repeat;
  background-size: contain;
  font-size: rem(12px);
  line-height: 2.5;
  margin-bottom: rem(35px);
}
.hero__welcome-title {
  font-size: rem(28px);
  color: #f7ebd8;
}