.hero {
  background: url('./assets/images/hero_bg.png') center no-repeat;
  text-transform: uppercase;
  outline: 1px dashed #5f9191;
  outline-offset: -3px;
  padding-top: 20px;
}

.hero__title {
  width: 60%;
  min-height: 52px;
  margin: 0 auto;
  background-image: url('./assets/images/hero_retro.png');
  background-size: cover;
  margin-bottom: 10px;
}

.hero__subtitle {
  text-align: center;
  width: 90%;
  height: 35px;
  margin: 0 auto;
  background: url('./assets/images/hero_title.png') center no-repeat;
  background-size: contain;
  font-size: 14px;
  line-height: 2;
}