.hero {
  font-size: 65px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Robotoslab';
  font-weight: 600;
  color: gray;
}

h1 {
  color: green;
  font-family: 'Bazar';
}

h2 {
  color: red;
  font-family: 'Seaside-Resort-NF';
}

h3 {
  color: yellow;
  font-family: 'Oswald';
  font-weight: 400;
}

h4 {
  color: blue;
  font-family: 'Robotoslab';
  font-weight: 400;
}