.article__list {
  display: flex;
  flex-wrap: wrap;
}

.article__item {
  margin-bottom: rem(20px);
}

.article__article {
  display: flex;
  flex-wrap: wrap
}

.article__window {
  width: 100%;
  height: 40%;
  border: rem(2px) solid #fff;
  border-radius: rem(4px);
  margin-bottom: rem(10px);
  background-color: salmon;
}

.article__desc-box {
  display: flex;
  flex-direction: column;
  font-family: 'Robotoslab';
  font-weight: 600;
}

.article__title {
  margin-bottom: rem(10px);
}

.article__breadcrumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: rem(12px);
  margin-bottom: rem(10px);
}

.article__answer {
  margin: rem(10px) 0 0 0;
  background-color: transparent;
}

.article__line {
  display: block;
  content: '';
  width: rem(30px);
  height: rem(2px);
  margin: 0 auto rem(10px) auto;
  background-color: #3b3b3b;
}

.article__desc {
  font-weight: 400;
  font-size: rem(14px);
  padding: rem(3px);
}

.article__btn-add {
  font-family: 'Oswald';
  font-weight: 600;
  font-size: rem(16px);
  background-color: transparent;
  border-radius: rem(3px);
  text-transform: uppercase;
  padding: rem(10px);
  color: #38353e;
  &::before {
    display: block;
    content: '';
    width: rem(60px);
    height: rem(1px);
    margin: 0 auto;
    background-color: #38353e;
    margin-bottom: rem(10px);
  }
}