.article__list {
  display: flex;
  flex-wrap: wrap;
}

.article__item {
  margin-bottom: 20px;
}

.article__article {
  display: flex;
  flex-wrap: wrap
}
.article__window {
  width: 100%;
  height: 30%;
  border: rem(2px) solid #fff;
  border-radius: rem(4px);
  margin-bottom: 10px;
}
.article__desc-box {
  display: flex;
  flex-direction: column;
}
.article__title {
  margin-bottom: 10px;
}

.article__breadcrumbs {
  display: flex;
  width: 100%;
  font-size: 11px;
  &::after {
    display: block;
    content: '';
    width: rem(30px);
    height: rem(2px);
    margin: rem(10px);
    background-color: #3b3b3b;
  }
}

.article__answer {
  display: none;
}