.article__list {
  display: flex;
  flex-wrap: wrap;
}

.article__item {
  height: 100%;
  margin-bottom: rem(20px);
}

.article__article {
  display: flex;
  flex-wrap: wrap;
  @include tablets {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.article__window {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  border: rem(2px) solid #fff;
  border-radius: rem(4px);
  margin-bottom: rem(10px);
  background-color: salmon;
  @include tablets {
    margin-right: rem(15px);
  }
}

.article__desc-box {
  display: flex;
  flex-direction: column;
  font-family: 'Robotoslab';
  font-weight: 600;
  @include tablets {
    width: 70%;
  }
}

.article__title {
  margin-bottom: rem(10px);
  @include tablets {
    font-size: rem(18px);
  }
  @include laptop {
    font-size: rem(20px);
  }
}

.article__breadcrumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: rem(12px);
  margin-bottom: rem(10px);
  @include tablets {
    position: relative;
    justify-content: flex-start;
    font-size: rem(13px);
  }
}

.article__user {
  &::before {
    margin: 0 rem(4px);
    display: inline-block;
    content: "//";
  }
  &::after {
    margin: 0 rem(4px);
    display: inline-block;
    content: "//";
  }
}

.article__answer {
  margin: rem(10px) 0 0 0;
  background-color: transparent;
  @include tablets {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
  }
}

.article__line {
  display: block;
  width: rem(30px);
  height: rem(2px);
  margin: 0 auto rem(10px) auto;
  background-color: #3b3b3b;
  @include tablets {
    margin: 0 0 rem(10px) 0;
  }
  @include laptop {
    width: rem(70px);
    height: rem(1px);
  }
}

.article__desc {
  font-weight: 400;
  font-size: rem(14px);
  padding: rem(3px);
  @include laptop {
    width: 80%;
  }
}

.article__btn-add {
  font-family: 'Oswald';
  font-weight: 600;
  font-size: rem(16px);
  background-color: transparent;
  border-radius: rem(3px);
  text-transform: uppercase;
  padding: rem(10px);
  color: #38353e;
  &::before {
    display: block;
    content: '';
    width: rem(60px);
    height: rem(1px);
    margin: 0 auto;
    background-color: #38353e;
    margin-bottom: rem(10px);
    @include tablets {
      width: rem(70px);
    }
  }
  @include tablets {
    font-size: rem(20px);
  }
}