.slider {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  background-color: #e3dfd7;
  border: rem(5px) solid #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: rem(50px);
  &::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: 'KODAK CAMERA';
    text-transform: uppercase;
    text-align: center;
    color: #383a3c;
    width: 100%;
    background-color: #fff;
    font-size: rem(12px);
    @include tablets {
      font-size: rem(24px);
    }
    @include laptop {
      font-size: rem(16px);
    }
  }
  @include tablets {
    height: 40%;
    margin-bottom: rem(80px);
  }
  @include laptop {
    width: 80%;
    height: 60%;
    margin-bottom: rem(50px);
  }
}

.slider__window {
  width: rem(10000px);
  height: 100%;
  position: relative;
}

.slider__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider__item {
  width: rem(280px);
  height: 100%;
  transform: translateX(0%);
  @include tablets {
    width: rem(740px);
  }
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider__control {
  @include absolute;
  width: 100%;
  justify-content: space-between;
  display: none;
  @include tablets {
    display: flex;
    width: 103%;
  }
}

.slider__btn {
  @include circle(rem(21px), #fff);
  position: relative;
  @include tablets {
    @include circle(rem(35px), #fff);
  }
}

.slider__btn-img {
  @include absolute;
  width: rem(15px);
  height: rem(15px);
  @include tablets {
    width: rem(20px);
    height: rem(20px);
  }
}